@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Quicksand&family=Rokkitt&family=Source+Sans+Pro:wght@300;400;600&display=swap");

html {
  height: 100%;
}

body {
  background: #ecd167;
  color: #151515;
  margin: 0;
  font-family: "Source Sans Pro", serif;
  font-size: 1.1rem;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header,
.content {
  background: rgba(238, 233, 227, 0.9);
}

h1 {
  margin: 0;
  font-family: "Rokkitt", serif;
}

h2 {
  font-weight: 400;
}

p {
  padding-top: 2rem;
}

.quote {
  font-style: italic;
}

a.name {
  color: #151515;
  font-size: 0.8rem;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a.reference {
  font-weight: 600;
  color: #151515;
}

a.reference:hover {
  font-weight: 600;
  text-decoration: underline;
}

.divider {
  padding-top: 40px;
}

.button {
  background-color: #ecd167;
  color: #151515;
  padding: 20px 40px;
}

.button:hover {
  background-color: #151515;
  color: #ecd167;
  padding: 20px 40px;
  transition: 0.5s ease-in;
}

@media (max-width: 900px) {
  .header,
  .content {
    width: 70%;
    text-align: center;
    padding: 6rem 2rem;
  }

  .header {
    margin: 10rem 0;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 901px) {
  body {
    background: url("https://images.unsplash.com/photo-1572371590204-03d6495c8b69?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1922&q=80");
    background-position: left 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 100%;
  }

  .header,
  .content {
    width: 70%;
    text-align: center;
    margin: 10rem 0;
  }

  .header {
    padding: 6rem 0;
  }

  .content {
    padding: 3rem;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 3rem;
  }
}
